// utilities
@import '_utilities';
// header_area
@import '_header';
// hero area
@import 'hero';
// about area 
@import 'about';
// services area
@import 'services';
// projects area
@import 'project';

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  list-style: 1.5rem;
}

.inner {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.inner_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ul li {
  display: inline-block;
}

a {
  transition: .5s ease;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.text_center {
  text-align: center;
  width: 100%;
  h5,h3,h1,h2{
    margin: 16px 0;
    @media only screen and (min-width: $small) and (max-width: $medium) {
      margin: 8px 0;
  }
  }
}/* Basic styling for loader */


@import '_responsive';